body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 240px;
  margin: 20px 100px;
}

.menu {
  margin-right: 30px;
}

.first-screen {
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 73px 0 162px;
}

.h1_fs {
  font-size: 2.4em;
}

.text1 {
  max-width: 800px;
  margin: auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 40px;
  padding: 20px 40px;
  margin: 10px 20px;
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #f94a0c;
}

.h3_fs, .h1_fs, .button, .main-header, .h2_ts {
  font-weight: bolder;
}

.app1 {
  display: flex;
  justify-content: center;
  position: relative;
}

.application1 {
  position: absolute;
  top: -200px;
  z-index: 0;
}

main {
  margin: 600px 0 100px;
}

.hr-1 {
  width: 80%;
}
.hr-2 {
  display: none;
}

.main-header {
  text-align: center;
  margin: 80px 0;
}

.second-screen {
  display: flex;
  flex-flow: column;
}

.part-one, .part-two {
  display: flex;
  margin: auto;
  align-items: center;
}

.text2, .text3 {
  max-width: 500px;
}

.link-ss {
  text-decoration: none;
  color: #f94a0c;
}

.text-po {
  color: #737373;
}

.phone, .application1 {
  filter: drop-shadow(20px 10px 10px rgba(139, 139, 139, 0.5));
}

.phone {
  margin: 0 150px;
}

.third-screen {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 145px 0;
}
.h4_ft1 {
  visibility: hidden;
  height: 0;
}
.b-ftr {
  border-radius: 10px;
}
.buttons1-1 {
  visibility: hidden;
  height: 0;
  width: 0;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-logo {
  max-width: 240px;
}

.bottom-text {
  font-size: 16px;
}

.img-center {
  margin: 0 30px;
}

@media screen and (max-width:500px) {
  body {
    font-size: 20px;
  }
  .logo {
    max-width: 100px;
    margin-left: 25px;
  }
  .first-screen {
    background-color: #fafafa;
    background-image: none;
    color: black;
    padding: 40px auto; 
  }
  .text1 {
    padding: 0 30px;
  }
  .h1_fs {
    font-size: 1.7em;
  }
  .buttons {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
  }
  .b-hdr {
    border: solid 1px #f94a0c;
    color: #f94a0c;
  }
  .b-hdr:hover {
    color: white;
  }
  .h3_fs, .h4_fs, .h4_ft1 {
    color: #737373;
  }
  .application1 {
    width: 400px;
  }
  main {
    margin: 400px 0 100px;
  }
  .hr-1 {
    display: none;
  }
  .main-header {
    margin-bottom: 50px ;
  }
  .hr-2 {
    display: inline-block;
    width: 100%;
  }
  .second-screen {
    text-align: center;
  }
  .part-one, .part-two {
    display: flex;
    flex-flow: column;
    max-width: 330px;
    margin: 40px auto;
  }
  .part-one {
    flex-flow: column-reverse;
  } 
  .third-screen {
    background-image: none;
    background-color: #252b42;
    padding: 80px 70px;
  }
.h4_ft {
  visibility: hidden;
  height: 0;
}
.h4_ft1 {
  visibility: visible;
  height: auto;
}
.buttons1 {
  display: flex;
  justify-content: center;
}


.bottom-logo{
  display: none;
  
}
.bottom {
  flex-flow: column;
  margin: 90px 0;
}
.buttons1 {
  visibility: hidden;
  height: 0;
  width: 0;
}
.buttons1-1 {
  visibility: visible;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: auto -80px;
}
.b-ftr {
  margin: auto 10px;
}


}