body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  margin: 20px 100px;
}

.menu {
  margin-right: 30px;
}

.first-screen {
  background-image: url(../images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  
  padding: 73px 50px 162px;
}

.h1_f-s {
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 40px;
  padding: 20px 40px;
  margin: 30px 20px;
  position: relative;
  z-index: 1;
}

.button:hover {
  background-color: #f94a0c;
}

.text1 {
  max-width: 600px;
  margin: auto;
}

.p1_fs, .h1_fs, .main-header, .h2_ts {
  font-weight: bolder;
}


.app1 {
  display: flex;
  justify-content: center;
  position: relative;
  
}
.application1 {
position: absolute;
top: -200px;
z-index: 0;
}
main {
  margin: 600px 0 100px;
}
hr {
  width: 80%;
}

.main-header {
  
  text-align: center;
  margin: 80px;
}
.second-screen {
  display: flex;
  flex-flow: column;
  
    
}

.part-one, .part-two {
  display: flex;
 
  margin: auto;
  align-items: center;
}

.text2, .text3 {
  max-width: 500px;
}
.link-ss {
  text-decoration: none;
  color: #f94a0c;
}
.text-po {
  color: #737373;
}
.phone, .application1 {
  filter: drop-shadow(20px 10px 10px rgba(139, 139, 139, 0.5));
}
.phone {
  margin: 0 150px;
}
.third-screen {
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 145px;
}
.b-ftr {
  border-radius: 10px;
}
.bottom {
display: flex;
justify-content: space-around;
align-items: center;
}
.bottom-logo{
  max-width: 240px;
}
.bottom-text {
  font-size: 16px;
}
.img-center {
  margin: 0 30px;
}